* {
    text-align: center;
    font-family: sans-serif;
    color: white;
    background-color: #222831;
}

h1 {
    padding: 30px;
}

canvas {
    background-color: #f8f4e7;
    border-radius: 5px;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0);
}

.menu {
    border: 2px solid red;
}

button {
    font-weight: bold;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #76ABAE;
}

span {
    border-bottom: 2px solid #76ABAE;
}

input {
    font-weight: bold;
    padding: 10px;
    width: 50px;
    border-radius: 5px;
    border: none;
    color: white;
    border: 2px solid #76ABAE;
    background-color: #31363F;
}
