* {
    text-align: center;
    font-family: sans-serif;
    color: #31363F;
    background-color: white;
}

#game-container {
    font-size: 30px;
}

h1 {
    padding: 10px;
    color: #222831;
}

canvas {
    border-radius: 10px;
    margin: auto;
    display: none;
}

#menu button {
    font-weight: bold;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #76ABAE;
}

span {
    font-size: 20px;
    border-bottom: 2px solid #76ABAE;
    text-align: center;
}

#control-panel button {
    font-weight: bold;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    border: none;
    color: #31363F;
    border: 4px solid #76ABAE;
}

#control-panel b {
    text-align: left;
}
